flow start stop.txt
[{"id":"e0ed756e.58d42","type":"modbus-read","z":"8dac2b3f.7bf44","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"12293","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2bd366a8.92616a","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":141,"y":199,"wires":[["b33e0aeb.37ef68","40c516eb.ccf3c8","6e166864.657a8"],[]]},{"id":"b33e0aeb.37ef68","type":"modbus-response","z":"8dac2b3f.7bf44","name":"","registerShowMax":20,"x":361,"y":200,"wires":[]},{"id":"28eb0f10.11d95","type":"mqtt out","z":"8dac2b3f.7bf44","name":"","topic":"/Nave1/tanque1/temperatura/","qos":"","retain":"","broker":"d24df1ef.a2bf2","x":645,"y":264,"wires":[]},{"id":"e206001d.52c6b8","type":"inject","z":"8dac2b3f.7bf44","name":"","topic":"","payload":"600","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":273,"wires":[["28eb0f10.11d95"]]},{"id":"40c516eb.ccf3c8","type":"debug","z":"8dac2b3f.7bf44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":349,"y":76,"wires":[]},{"id":"6e166864.657a8","type":"function","z":"8dac2b3f.7bf44","name":"parse","func":"var rpm = msg.payload[0]\nmsg.payload = rpm\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":140,"wires":[["a7dbb4b2.54a17","28eb0f10.11d95","9e01d7ee.ad1788"]]},{"id":"a7dbb4b2.54a17","type":"debug","z":"8dac2b3f.7bf44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":585,"y":139,"wires":[]},{"id":"8c3e8848.3ccb48","type":"mqtt in","z":"8dac2b3f.7bf44","name":"","topic":"/Nave1/tanque1/PLCM241/consigna1","qos":"2","datatype":"auto","broker":"d24df1ef.a2bf2","x":216,"y":421,"wires":[["e01c2da6.921488"]]},{"id":"e01c2da6.921488","type":"modbus-write","z":"8dac2b3f.7bf44","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"8193","quantity":"1","server":"2bd366a8.92616a","x":369,"y":483,"wires":[["213132b8.8d76a6"],[]]},{"id":"213132b8.8d76a6","type":"modbus-response","z":"8dac2b3f.7bf44","name":"","registerShowMax":20,"x":588,"y":412,"wires":[]},{"id":"8fdb202d.9da268","type":"inject","z":"8dac2b3f.7bf44","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103,"y":516,"wires":[["e01c2da6.921488"]]},{"id":"9e01d7ee.ad1788","type":"ui_gauge","z":"8dac2b3f.7bf44","name":"","group":"20bdf581.1f63fa","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":581,"y":82,"wires":[]},{"id":"b428667e.f96de8","type":"comment","z":"8dac2b3f.7bf44","name":"SETTING UP SALICRU VFD SPEED","info":"","x":183,"y":368,"wires":[]},{"id":"9de71311.e67478","type":"comment","z":"8dac2b3f.7bf44","name":"READING SALICRU VFD SPEED","info":"","x":182,"y":36,"wires":[]},{"id":"450290a9.fdd11","type":"inject","z":"8dac2b3f.7bf44","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.49999237060547,"y":559.0000019073486,"wires":[["e01c2da6.921488"]]},{"id":"70a78566.f1ed8c","type":"comment","z":"8dac2b3f.7bf44","name":"START STOP SALICRU VFD","info":"","x":187,"y":614,"wires":[]},{"id":"6518b9c6.a5b7d8","type":"modbus-write","z":"8dac2b3f.7bf44","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"8192","quantity":"1","server":"2bd366a8.92616a","x":324.5,"y":688,"wires":[["1638dd78.711773"],[]]},{"id":"3f068089.15537","type":"inject","z":"8dac2b3f.7bf44","name":"1 START","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":105.5,"y":686,"wires":[["6518b9c6.a5b7d8"]]},{"id":"70b5eb0.0fe1314","type":"inject","z":"8dac2b3f.7bf44","name":"5 STOP","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":94.5,"y":762,"wires":[["6518b9c6.a5b7d8"]]},{"id":"1638dd78.711773","type":"modbus-response","z":"8dac2b3f.7bf44","name":"","registerShowMax":20,"x":561.5,"y":610,"wires":[]},{"id":"c6d47771.921c28","type":"mqtt in","z":"8dac2b3f.7bf44","name":"/Nave1/tanque1/PLCM241/pump0","topic":"/Nave1/tanque1/PLCM241/pump0","qos":"2","datatype":"auto","broker":"d24df1ef.a2bf2","x":242.5,"y":812,"wires":[["6518b9c6.a5b7d8"]]},{"id":"2bd366a8.92616a","type":"modbus-client","z":"8dac2b3f.7bf44","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.1.58","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"d24df1ef.a2bf2","type":"mqtt-broker","z":"8dac2b3f.7bf44","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"20bdf581.1f63fa","type":"ui_group","z":"","name":"atv","tab":"ed192549.7d19c8","disp":true,"width":"6","collapse":false},{"id":"ed192549.7d19c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]